*{
  padding: 0px;
  margin: 0px;
}
body{
  background: #000;
  position: relative;
}

body::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Shadow heig
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.331) 100%);
  pointer-events: none; /* Ensure it doesn't block clicks */
  z-index: 1000; /* Make sure it's above everything */
}







/* one time tags */
:root{
  --paragraph:#BDBDBD;
  --button-bg:#1F1F1F;
  --schroll-stoke:#545454;
  --button-text:#BEBCBC;
  --schroll-text:#6B6B6B;
  --about-text:#868686;
  --text-gradient: linear-gradient(#00B4FF,#005DFF);
  --tab-background-schroll:linear-gradient(#000000,#1B1B1B,#000000);
  --button-card:linear-gradient(#6AA0FF,#79D8FF);
  --bg-subs-card:linear-gradient(#2587AF,#1E6DF7);
  --bg-gray:#181818;
}


@media (min-width: 1200px){
  



.SecMainHeading{
  font-size: 30px;
  font-weight: 700;
  background: -webkit-linear-gradient(#00B4FF,#005DFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins, Sans-Serif;
  margin-top: 200px;
}
.secPara{
  font-size: 25px;
  font-weight: 400;
  color: var(--paragraph);
  text-align: center;
  margin-top: 40px;
  word-spacing: 3%;
  font-family: Poppins, Sans-Serif;
}

.SecSubHeading{
  font-size: 35px;
  font-weight: 600;
  word-spacing: 3%;
  font-family: Poppins, Sans-Serif;
  color: #fff;
}

.sliderContainer{
  display: flex;
  height: 648px;
  width: 809px;
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 20px;
}
.textLeftDiv{
  width: 800px;
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}
.slideHeading{
  font-family: Poppins, Sans-Serif;
  font-size: 25px;
  font-weight: 500;
  word-spacing: 3%;
  color: #ffffff;
  text-transform: capitalize;
}




.paraWidth{
  width: 684px;
}

.buttonSection{
  background: var(--button-bg);
  border: none;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 107px;
  margin-top: 53px;
}
.buttonSection a{
  text-decoration: none;
  font-family: Poppins, Sans-Serif;
  color: #ffffff;
  word-spacing: 3%;
  font-weight: 600;
  font-size: 25px;
  text-transform: capitalize;
}


/* one time tags end */



img{
  height: 20px;
}

.highlightText{
  color: #00B4FF;
}
.underLineText{
  text-decoration: underline;
  text-decoration-color: #00B4FF;
}


/* header start */
header {
	background: linear-gradient(180deg, #001F3F,#00172e,#000, #000e1c, #001F3F);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite/* , shadowAnimation 14s ease-in-out infinite */;
	width: 100vw;
	/* box-shadow: 0px 0px 400px #005DFF61; */
}
/* @keyframes shadowAnimation{
  0%{
    box-shadow: 0px 0px 0px #000000;
  }
  25%{
    box-shadow: 0px 0px 400px #005dff61;
  }
  50%{
    box-shadow: 0px 0px 400px #0000;
  }
  75%{
    box-shadow: 0px 0px 400px #005dff61;
  }
  100%{
    box-shadow: 0px 0px 400px #0000;
  }
  125%{
    box-shadow: 0px 0px 400px #005dff61;
  }
  150%{
    box-shadow: 0px 0px 400px #0000;
  }
  175%{
    box-shadow: 0px 0px 400px #005dff61;
  }
  200%{
    box-shadow: 0px 0px 0px #000000;
  }
} */

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

/* nav start */

header nav{
  padding: 72px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins, Sans-Serif;
	backdrop-filter: blur(10px); /* Optional for a glassmorphism effect */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100000;
	transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.navBar.scrolled{
  background: #000000;
  border-bottom: 1px solid var(--bg-gray);
  box-shadow: 0px 2px 5px rgb(14,14,14);
  padding: 32px 90px;
}

header nav .navLogo .logo{
  height: 78px;
  width: 97px;
}
header nav .navMenu{
  padding-right: 90px;
}
header nav .navMenu li{
  list-style: none;
  display: inline;
  padding: 0px 50px 0px 0px;
}
header nav .navMenu li a{
  text-decoration: none;
  color: var(--paragraph);
  font-size: 20px;
  font-weight: 400;
}
header nav .navMenu li:last-child{
  text-transform: uppercase;
  font-weight: 600;
}
header nav .navMenu li a i{
  font-size: 30px;
  color: #ffffff;
  margin-left: 15px;
  margin-top: 4px;
}

header nav .threeLineIcon{
  display: none;
  flex-shrink: 0;
  flex-grow: 0;
}

/* nav end */



/* hero section stat */

.heroSection{
  height: 130vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroSection .heroMainHeading{
  font-weight: 700;
  background: -webkit-linear-gradient(#00B4FF,#005DFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 75px;
  font-family: Poppins, Sans-Serif;
  word-spacing: 3%;
}

.heroSection .heroSubHeading{
  font-weight: 400;
  font-family: Poppins, Sans-Serif;
  color: #ffffff;
  font-size: 75px;
  word-spacing: 3%;
}

.heroSection .heroPara{
  font-size: 25px;
  font-weight: 300;
  color: var(--paragraph);
  margin-top: 64px;
  font-family: Poppins, Sans-Serif;
}

.heroSection .heroButtonsDiv{
  margin-top: 75px;
  display: flex;
  gap: 20px;
}


.heroSection .heroButton{
  padding: 30px 35px;
  border: 3px solid #00B4FF;
  border-radius: 69px;
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 400;
  word-spacing: 3%;
  list-style: none;
  font-family: Poppins, Sans-Serif;
}
.heroSection .heroButtonTwo{
  background: var(--text-gradient);
  color: #ffffff;
  border: none;
  padding: 33px 38px;
}

/* hero section end */

/* header end */






/* service start */
.serviceSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.serviceSection::before {
      content: "";
      position: absolute;
      top: -100px;
      left: 0;
      width: 100%;
      height: 200px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), black);
      z-index: 1;
    }


.serviceSection .firstTwoServiceDiv{
  width: 68.59375%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 116px;
  gap: 42px;
}
.serviceSection .LastTwoServiceDiv{
  width: 68.59375%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
  gap: 42px;
}

.serviceSection .horizontalAlignDiv .commonDiv{
  background: var(--bg-gray);
  padding: 61px 58px 0px 58px;
  height: 522px;
  width: 425px;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
}

.serviceSection .horizontalAlignDiv .commonDiv:hover{
  transform: scale(1.05); /* Slight zoom */
}

.serviceBoxHeading{
  font-size: 35px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 3%;
  font-family: Poppins, Sans-Serif;
}

.serviceSection .horizontalAlignDiv .commonDiv p{
  letter-spacing: 3%;
  font-size: 20px;
  color: var(--paragraph);
  font-weight: 400;
  font-family: Poppins, Sans-Serif;
  margin-top: 46px;
}


.serviceSection .horizontalAlignDiv div .serviceButton{
  background: transparent;
  border: none;
  margin-top: 25px;
}
.serviceSection .horizontalAlignDiv div .serviceButton a{
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 3%;
  font-size: 17px;
  text-decoration: none;
  font-family: Poppins, Sans-Serif;
}

.serviceSection .firstTwoServiceDiv .serviceSpecialButtonDiv .serviceSpecialButton{
  background: var(--button-bg);
  border: none;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 19px;
}
.serviceSection .firstTwoServiceDiv .serviceSpecialButtonDiv .firstButton{
  margin-top: 66px;
  margin-bottom: 30px;
  color: #00B4FF;
  border: dotted;
}
.serviceSection .firstTwoServiceDiv .serviceSpecialButtonDiv .firstButton:hover{
  box-shadow: 0px 0px 10px #ffffff65;
}
.serviceSpecialButton a{
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins, Sans-Serif;
  letter-spacing: 3%;
  color: var(--button-text);
  text-decoration: none;
}
.serviceSection .commonDiv .sectionSvgDiv{
  width: 100%;
  height: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serviceSection .commonDiv .ServiceSvg{
  height: 150px;
  width: auto;
  opacity: 54%;
}


/* service end */



/* developer start */

.developerSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(image/background/Texture-Retro-Dot-Halftone--Streamline-Textures.png);
  background-position: center 250px;
  background-repeat: no-repeat;
  background-size: auto auto;
}

.developerSection .devCodeIcon{
  width: 401.71px;
  height: 330.58px;
  margin-top: 88px;
}


/*           for dev*/
.developerSection .DevTextLeftDiv{
  margin-top: 223px;
}
.sliderContainer .devonebg{
  background: url(image/background/dev1.jpg);
  background-position: auto;
  background-repeat: no-repeat;
  background-size: 648px 809px;
}
.sliderContainer .devtwobg{
  background: url(image/background/dev2.jpg);
  background-position: auto;
  background-repeat: no-repeat;
  background-size: 648px 809px;
}
.sliderContainer .devthreebg{
  background: url(image/background/dev3.jpg);
  background-position: auto;
  background-repeat: no-repeat;
  background-size: 648px 809px;
}
/*           for dev end*/

/*           for business*/
.BusisliderContainer{
  margin-top: 20px;
}

.sliderContainer .busionebg{
  background: url(image/background/dev4.jpg);
  background-position: auto;
  background-repeat: no-repeat;
  background-size: 648px 809px;
}
.sliderContainer .busitwobg{
  background: url(image/background/dev5.jpg);
  background-position: auto;
  background-repeat: no-repeat;
  background-size: 648px 809px;
}
.sliderContainer .busithreebg{
  background: url(image/background/dev6.jpg);
  background-position: auto;
  background-repeat: no-repeat;
  background-size: 648px 809px;
}
/*           for business end*/
/* for product start */
.prodsliderContainer{
  margin-top: 20px;
}

.sliderContainer .prodonebg{
  background: url(image/background/dev7.jpg);
  background-position: auto;
  background-repeat: no-repeat;
  background-size: 648px 809px;
}
.sliderContainer .prodtwobg{
  background: url(image/background/dev8.jpg);
  background-position: auto;
  background-repeat: no-repeat;
  background-size: 648px 809px;
}
.sliderContainer .prodthreebg{
  background: url(image/background/dev9.jpg);
  background-position: auto;
  background-repeat: no-repeat;
  background-size: 648px 809px;
}
/* for product end */

.sliderContainer .slideDiv{
  width: 506px;
  height: 560px;
  border-radius: 20px;
  flex: 0 0 auto;
  margin: 0px 78px 0px 0px;
  position: relative;
}
.developerSection .sliderContainer div h1{
  color: #ffffff;
  margin-left: 50px;
  font-family: Poppins, Sans-Serif;
  word-spacing: 3%;
  position: absolute;
  bottom: 30px;
}
/* developer end */




/* about start */

.aboutSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutSection div{
  background: transparent;
  border-radius: 23px;
  padding: 87px 86px 100px 86px;
  margin-top: 91px;
  width: 827px;
  height: auto;
}
.aboutSection div p{
  color: var(--about-text);
  font-size: 25px;
  font-weight: 400;
  word-spacing: 3%;
  line-height: 38px;
  text-align: left;
  font-family: Poppins, Sans-Serif;
  border-left: 5px solid #4facfe;
  padding: 15px 20px;
}

/* about end */

/* core value start */

.coreValueSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coreValueSection .firstTwoValueBox{
  width: 68.59375%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 116px;
  gap: 32px;
}

.coreValueSection .LastTwoValueBox{
  width: 68.59375%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
  gap: 32px;
}

.coreValueSection .horizontalAlignDiv .commonDiv{
  background: var(--bg-gray);
  padding: 61px 38px 0px 38px;
  height: 370px;
  width: 391.76px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.coreValueSection .horizontalAlignDiv .commonDiv i{
  font-size: 45px;
  color: #00B4FF;
}
.coreValueSection .horizontalAlignDiv h1{
  font-size: 20px;
  font-weight: 600;
  word-spacing: 3%;
  color: #ffffff;
  font-family: Poppins, Sans-Serif;
}
.coreValueSection .horizontalAlignDiv p{
  font-size: 15px;
  font-weight: 600;
  word-spacing: 3%;
  color: var(--paragraph);
  font-family: Poppins, Sans-Serif;  
}

/* core value end */


/* subscription start */

.subscribeSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribeCardDiv{
  width: 80vw;
  height: 848px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subscribeCardDiv  .subsCard{
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  padding: 85px 83px 0px 83px;
  height: 500px;
  width: 326px;
  margin: 0px 30px 0px 30px;
  transition: 0.3s ease-in-out;
  flex: 0 0 auto;
  border-radius: 20px;
  position: relative;
}
.subscribeCardDiv .subsCard:hover {
  transform: scale(1.05); /* Slight zoom */
}

.subscribeCardDiv  .subsCard h1{
  color: #ffffff;
  font-size: 30px;
  word-spacing: 3%;
  font-weight: 600;
  font-family: Poppins, Sans-Serif;
}
.subscribeCardDiv  .subsCard h1 span{
  font-size: 20px;
  color: #ffffff;
}

.subscribeCardDiv  .subsCard h2{
  color: #ffffff;
  font-size: 35px;
  word-spacing: 3%;
  font-weight: 600;
  font-family: Poppins, Sans-Serif;
}
.subscribeCardDiv  .subsCard h2 span{
  font-size: 20px;
}

.subscribeCardDiv  .subsCard p{
  text-wrap: pretty;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  word-spacing: 3%;
  line-height: 132%;
  font-family: Poppins, Sans-Serif;
  margin-top: 36px;
}

.subscribeCardDiv .firstCard{
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  background-size: 400% 400%;
	animation: gradientAnimationCard 10s ease infinite;
	box-shadow: 0px 10px 20px rgba(79, 172, 254, 0.6), 0px 4px 15px rgba(0, 242, 254, 0.4);
	border: 3px solid #00c6ff;
	height: 500px;
}
.subscribeCardDiv .secondCard{
  background: linear-gradient(135deg, #a18cd1, #fbc2eb);
  background-size: 400% 400%;
	animation: gradientAnimationCard 10s ease infinite;
	box-shadow: 0px 10px 20px rgba(161, 140, 209, 0.6), 0px 4px 15px rgba(251, 194, 235, 0.4);
	border: 3px solid #d8b4e2;
	height: 550px;
	position: relative;
}
.subscribeCardDiv .thirdCard{
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  background-size: 400% 400%;
	animation: gradientAnimationCard 10s ease infinite;
	box-shadow: 0px 10px 20px rgba(255, 154, 158, 0.6), 0px 4px 15px rgba(250, 208, 196, 0.4);
	border: 3px solid #ffb7b2;
	height: 600px;
}



@keyframes gradientAnimationCard{
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }




.subscribeSection .subscribeCardDiv .subsCard .subsButtonDiv{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.subscribeCardDiv  .subsCard #SubsButtonBasic{
  background: #00bfff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 191, 255, 0.6);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
}

.subscribeCardDiv .firstCard button:hover {
  transform: translateY(-3px); 
  box-shadow: 0px 8px 20px rgba(0, 191, 255, 0.8);
}


.subscribeCardDiv  .subsCard #SubsButtonPro{
  background: #c084d8;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(192, 132, 216, 0.6);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.secondCard .populartag{
  color: #ffffff;
  font-size: 25px;
  word-spacing: 3%;
  font-weight: 600;
  font-family: Poppins, Sans-Serif;
  position: absolute;
  top: -10px;
  left: -16px;
  border-radius: 5px;
  background: #d7bbe2;
  box-shadow: 0px 5px 15px rgba(192, 132, 216, 0.6);
  padding: 10px 15px;
}

.subscribeCardDiv .secondCard button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 20px rgba(192, 132, 216, 0.8);
}


.subscribeCardDiv  .subsCard #SubsButtonAdvance{
  background: #ff7b7b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(255, 123, 123, 0.6);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.subscribeCardDiv .secondCard button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 20px rgba(255, 123, 123, 0.8);
}


/* subscription end */








/* footer start */

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins, Sans-Serif;
  margin-top: 100px;
  background: rgb(15,15,15);
}

.footer .footerlogo{
  height: 91px;
  width: auto;
  margin-top: 100px;
}

.footer .footerQuickLinkDiv{
  display: flex;
  justify-content: space-between;  
  width: 769px;
  margin-top: 58px;
}
.footer .footerQuickLinkDiv .quickLinkDiv{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .footerQuickLinkDiv .quickLinkDiv h1{
  font-size: 20px;
  font-weight: 600;
  word-spacing: 3%;
  color: #ffffff;
}

.footer .footerQuickLinkDiv .quickLinkDiv li{
  list-style: none;
}
.footer .footerQuickLinkDiv .quickLinkDiv li a{
  text-decoration: none;
  color: var(--paragraph);
  font-size: 15px;
  font-weight: 400;
  word-spacing: 3%;
}

.footer .footerSocial{
  display: flex;
  justify-content: flex-start;
  width: 769px;
}

.footer .footerSocial i{
  font-size: 20px;
  color: #ffffff;
  margin: 20px 10px 20px 0px;
}
/* footer end */

}